.row{
    align-items: center;
    float: left;
    height: 400px;
    width: 300px;
}


.profile{
    margin-top: 20px;
    text-align:center ;

}


body{

background-color: blue;

}

.head{
    text-align: center;
    background-color: aqua;
}


